## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

*.LAPTOP-lenovo
*pt

.envrc

## Project

*.pth
*live.ipynb

/output
/output/**

/tblogs
/tblogs/**

/tblogs_z_v3
/tblogs_z_v3/**

/tblogs_z_v4
/tblogs_z_v4/**

/tblogs_z_tcl
/tblogs_z_tcl/**

/model
/model/**
/model_z
/model_z/**
/model_z_tcl
/model_z_tcl/**
test*